<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="BotHub.Studio">
    <meta name="description" content="Build a serverless chatbot on BotHub.Studio. We provide a robust backend system for deploy, run and manage a chatbot.">
    <meta name="keyword" content="chatbot,bothub.bothubstudio,serverless,hosting,bothosting">
    <meta name="robots" content="index,follow,noodp">
    <meta name="googlebot" content="index,follow">
    <meta name="subject" content="Build a serverless chatbot on BotHub.Studio. We provide a robust backend system for deploy, run and manage a chatbot.">
    <meta name="rating" content="General">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/monokai.min.css">

    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "BotHub.Studio" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <div id="app">
      <header class="<% if current_page.data.isFront %>front<% end %> site">
        <%= partial "header" %>
      </header>
      <main class="<% if current_page.data.isFront %>front<% end %> contents">
        <%= yield %>
      </main>
      <footer class="<% if current_page.data.isFront %>front<% end %> site">
        <%= partial "footer" %>
      </footer>
    </div>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('require', 'linker');
    ga('linker:autoLink', ['bothub.studio', 'www.bothub.studio', 'app.bothub.studio']);
    ga('create', 'UA-97211180-1', 'auto', { allowLinker: true });
    ga('send', 'pageview');
    </script>
  </body>
</html>
