---
title: Store - BotHub.Studio
---
<article class="container store">
    <aside class="alert alert-info">
      <strong>Recently Added</strong> You can also register your bot.
    </aside>

    <div class="project-list">
      <% data.to_h["store"][:chatbots].each do |bot| %>
        <div class="project">
          <img class="store" src="<%= bot[:icon_url] %>" alt="<%= bot[:icon_alt_text] %>">
          <div class="project-desc">
            <h1 class="title"><%= bot[:title] %></h1>
            <p><%= bot[:description] %></p><br />
          </div>
          <div class="project-action">
            <% bot[:channels].each do |channel| %>
              <a href="<%= channel[:link] %>" class="btn btn-outline-primary">
                <i class="fa fa-<%= channel[:channel] %>" aria-hidden="true"></i> Add
              </a>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
</article>
